
.heroTitle::before {
    content: "" !important;
    display: block;
    height: 4px;
    margin-bottom: 2rem;
    width: 40%;
}

.modernDesignTitle::before, .expertsTitle::before {
    font-size: .9rem;
}

.modernDesignTitle::before {
    content: "Company overview" !important;
}

.SingleFactCounterContainer {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.expertsTitle::before {
    content: "Behind our company" !important;
}

@media screen and (min-width: 1024px) {
    .modernDesignTitle {
        width: 40%;
    }

    .moderDesignDescription {
        width: 55%;
    }
}