
.title::before {
    content: "corporate clients";
}

.slider {
    height: 200px;
    transition: transform 2s ease;
}

.slider img {
    object-fit: contain !important;
}

@media screen and (min-width: 600px) {
    .slider {
        height: 150px;
    }
}