.containerHome {
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    z-index: 7;
}

.logoContainer {
    height: 37px;
    width: 156px;
}

.icon::before {
    font-size: 20px;
}

.searchForm {
    transition: all 1s ease;
    transform: scale(0);
    z-index: 5;
}

.searchInput {
    padding: .83rem .5rem;
}

.searchFormVisible {
    transform: scale(1);
}

.quoteButton {
    display: none;
    padding-bottom: .7rem;
    padding-top: .7rem;
}

@media screen and (min-width: 600px) {
    .containerHome {
        left: 10%;
        width: 80%;
    }

    .logoContainer {
        height: 51px;
        width: 221px;
    }

    .searchForm {
        right: 0;
        width: 350px !important;
    }
}

@media screen and (min-width: 990px) {
    .containerHome {
        left: 5%;
        width: 90%;
    }
}

@media screen and (min-width: 1100px) {
    .navigation {
        display: flex !important;
        margin-right: 1rem;
    }

    .collapse, .menuButton {
        display: none;
    }

    .quoteButton {
        display: flex;
    }
}