.container {
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    z-index: 7;
}

.logoContainer {
    height: 48px;
    width: 184px;
}

@media screen and (min-width: 600px) {
    .logoContainer {
        height: 51px;
        width: 221px;
    }
}