.container {
    box-shadow: 0px 4px 11px -1px #ececec;
}

.avatar {
    height: 85px;
    width: 85px;
}

.avatar::before, .button {
    transition: all .5s ease-in;
}
.avatar::before {
    content: "" !important;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
}

.icon {
    transition: color .5s ease-in;
}

.container:hover .avatar::before {
    width: 100%;
}

.container:hover .button {
    background-color: #d97706;
    color: #FFF;
}

.container:hover .icon {
    color: #e2e8f0;
}

@media screen and (min-width: 990px) {
    .container {
        margin-bottom: 6rem;
    }

    .avatar {
        height: 105px;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 105px;
        left: 50%;
    }
}

@media screen and (min-width: 990px) {
    .container {
        margin-bottom: 0;
        width: 32%
    }
}