
.heroTitle::before {
    content: "Our services" !important;
}

.categoriesTitle::before, .servicesTitle::before {
    font-size: .9rem;
}

.categoriesTitle::before {
    content: "Categories" !important;
}

.servicesTitle::before {
    content: "Interior elements" !important;
}

@media screen and (min-width: 1024px) {
    .categoriesTitle {
        width: 40%;
    }

    .categoriesDescription {
        width: 55%;
    }
}