
.listItemButton:hover {
    background-color: transparent !important;
}

.iconWrapper {
    display: none;
    transition: all .8s ease;
}

@media screen and (min-width: 1100px) {
    .listItem, .listItemButton {
        border: none !important;
        color: #262626 !important;
        padding: 0 !important;
    }

    .listItem:hover, .listItemButton:hover {
        color: #dc2626 !important;
    }

    .listItem {
        margin-right: 13px;
    }

    .listItem:last-child {
        margin-right: 0;
    }

    .listItemCollapse {
        display: none;
    }

    .listItemLink {
        color: #262626 !important;
    }

    .listItemLink:hover {
        color: #ef4444 !important;
    }

    .listItemList {
        min-width: 210px;
        padding: .8rem .7rem .7rem !important;
        transition: all 1s ease;
        transform: scale(0);
        top: 83px;
        width: auto;
        z-index: 12;
    }

    .listItemListVisible {
        height: auto !important;
        transform: scale(1);
    }

    .clickAway {
        display: block;
    }

    .listItemBg {
        height: 100vh;
        left: 0;
        top: 0;
        width: 100vw;
    }

    .listItemBgVisible {
        display: block !important;
        z-index: 11;
    }

    .iconWrapper {
        display: inline-flex;
        transform: scale(0);
        width: 0;
    }

    .listItemLink:hover .iconWrapper {
        transform: scale(1);
        width: 40px;
    }
}


.currentPage {
    color: #dc2626 !important;
}