.card:hover {
    transition: transform .6s ease-in-out;
    transform: translateY(-10px);
}
.indexContainer {
    background-color: #FFF;
    left: 50%;
    padding: 27px 30px;
    top: 0;
    transform: translate(-50%, -50%);
}

.indexContainer::before {
    content: "" !important;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease;
    top: 0;
    width: 0;
}

.card:hover .indexContainer::before {
    width: 100%;
}

.card:hover .index::before {
    color: #FFF;
    transition: color .5s ease;
}

.card:nth-child(1) .index::before {
    content: "01";
}

.card:nth-child(2) .index::before {
    content: "02";
}

.card:nth-child(3) .index::before {
    content: "03";
}