.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

.imageContainer {
    height: 320px;
}

.imageContainer img {
    object-fit: cover !important;
    object-position: center;
    transition: transform .6s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.linkContainer {
    background-color: rgba(0, 0, 0, .7);
    bottom: 50%;
    height: 0;
    transform: translate(0, 50%);
    transition: all 1s ease .4s;
}

.linkContainer a {
    transform: scale(0);
    transition: all 1s ease .4s;
}

.card:hover .linkContainer {
    bottom: 0;
    height: calc(100% - 69px);
    transform: translate(0, 0%);
}

.card:hover .linkContainer a {
    transform: scale(1);
}

.position::before, .position::after {
    background-color: #9ca3af;
    content: "";
    height: 2px;
    width: 40px;
}

.position::before {
    margin-right: 9px;
}

.position::after {
    margin-left: 9px;
}

@media screen and (min-width: 600px) {
    .card {
        width: 48%;
    }

    .imageContainer img {
        object-fit: unset !important;
        object-position: center;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 23%;
    }

    .imageContainer  {
        height: 210px;
    }
}

@media screen and (min-width: 1024px) {
    .imageContainer  {
        height: 250px;
    }
}