
.cardImageContaienr {
    height: 250px;
}

.cardImageContaienr img {
    height: 100% !important;
    width: 100% !important;
}

.cardYear {
    width: 80px;
}

.cardYear::after {
    background-image: url(/images/icon/arrow-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    bottom: -7px;
    height: 20px;
    left: 4px;
    opacity: .87;
    position: absolute;
    transform: rotate(231deg);
    width: 12px;
}