.card:hover .cardButton, .card:hover .icon, .card:hover .icon::before, .card:hover .cardImageContainer::before, .card:hover .cardImageContainer::after {
    transition: all .8s ease .4s;
}

.card:hover .cardButton, .card:hover .icon, .card:hover {
    border-color: #ef4444;
}

.card {
    width: 100%;
}

.cardImageContainer {
    height: 200px;
}

.card:hover .cardImageContainer img {
    transition: transform .8s ease;
    transform: scale(1.1);
}

.cardImageContainer::before, .cardImageContainer::after {
    background-color: rgba(0, 0, 0, .5);
    content: "";
    height: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.card:hover .cardImageContainer::before, .card:hover .cardImageContainer::after {
    height: 50%;
}

.cardImageContainer::before {
    top: 0;
}

.cardImageContainer::after {
    bottom: 0;
}

.card:hover .cardButton {
    background-color: #ef4444;
    color: #FFF;
}

.icon {
    height: 80px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    z-index: 2;
}

.icon::before {
    font-size: 2rem;
}

.card:hover .icon::before {
    color: #ef4444;
}

@media screen and (min-width: 430px) {
    .cardImageContainer {
        height: 250px;
    }
}

@media screen and (min-width: 530px) {
    .cardImageContainer {
        height: 270px;
    }

    .icon {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: 48%;
    }

    .cardImageContainer {
        height: 250px;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 32%;
    }
}