.container {
    background-color: #26272b;
}

@media screen and (min-width: 1100px) {
    .container, .row {
        flex-direction: row !important;
    }

    .row, .list{
        align-items: center !important;
    }

    .list, .socialMediaContainer {
        margin: 0 0 0 1rem !important;
    }

    .listItem {
        margin-bottom: 0 !important;
    }
}

@media screen and (min-width: 1240px) {
    .list, .socialMediaContainer {
        margin: 0 0 0 2rem !important;
    }
}