.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2;
}

.cardBorder {
    height: calc(100% - 17px);
    top: 33px;
    width: calc(100% - 41px);
    z-index: -1;
}

.description {
    position: relative;
    width: 90%;
    z-index: 4;
}

.quoteIcon {
    bottom: -6px;
    font-size: 10rem;
    opacity: .5;
    right: 3px;
}